/*
	|| Box Model

		Caja en bloque:
            Fuerza un salto de linea al llegar al final de la linea.
            Se extenderá en la dirección de la linea para rellenar todo el espacio disponible que haya en su contenedor, la mayoría de las veces, la caja será tan ancha y ocupara todo el espacio como su contenedor.
            Respetan las propiedades <strong>width</strong> y <strong>height</strong>.
            Las propiedades padding, margin y border separan la caja de otros elementos.

		Caja en linea:
           	No fuerza un salto de linea al llegar al final de la linea.
            Las propiedades <strong>width</strong> y <strong>height</strong> no funcionan por defecto (solo cambiando su tipo de visualización). Aunque con padding se puede agrandar la caja desde adentro pero se superponen los otros elementos, si hay y dependiendo de cuanto sea el padding.
            Las propiedades padding, margin y border <em>verticales</em> no alejan a otras cajas en linea.
            Las propiedades padding, margin y border <em>horizontales</em> si alejan a otras cajas en linea.

		Partes de una caja:
            Contenido (content box): area que muestra el contenido, puede modificarse con las propiedades width y height.
            Relleno (padding box): espacio en blanco alrededor del contenido, se modifica con la propiedad padding.
            Borde (border box): envuelve y limita la caja, puede modificarse con border.
            Margen (margin box): espacio en blanco entre la caja y los otros elementos, se usa para separarlos. Se modifica con margin.

		Modelos de caja:
			Estándar: suma todo y no cálcula automaticamente el ancho y alto de la caja.
			Alternativo: box-sizing: border-box; resta las demás propiedades de la caja al ancho y alto total.
	
		Margin:
			Buenas practicas:
            Margenes automáticos para centrar elementos</strong> con margin-left: auto; mueve la caja hacia el margen derecho (al agrandar el margen izquierdo). 
            Con margin-right: auto; muevo todo el elemento hacia la izquierda y con las dos declaraciones centramos el elemento o la caja.</p>
           	Siempre que no se use flexbox.

            Malas practicas:
            Eliminar el margin y el padding</strong>: Con margin: 0; y padding: 0; se juntan todos los elementos y no se pueden distinguir. Peor es la situación si usan un selector universal porque van a tener que ir elemento a elemento para cambiar estas propiedades.
            Centrar elementos con margin 0 auto:</strong> Puede desaparecer el espacio/separación vertical si hay otros elementos antes en la cascada.</p>
            Usar margin 0 y padding 0 en el body:</strong> El primero por que todos los navegadores tienen por defecto un margin 8px (a todos los lados) se puede ver en inspeccionar elemento y los hace desaparecer. El segundo no tiene sentido porque no hay padding por defecto.
			
			Colapso de margin
            Si hay dos elementos cuyo margen se tocan, el margen que se sobrepone es el más grande. Un problema común es cuando queremos crear espacios y no se asigna el que le decimos, lo más probable es que haya un colapso de margen.
			Otros casos:
                Dos márgenes negativos colapsarán y se usará el valor más pequeño (el más alejado de cero).
                Si un margen es negativo, su valor se restará del total.
		

	|| Backgrounds y Borders:
		
		Background-color:
        Define el color de fondo de cualquier elemento/caja en CSS, el color se va a aplicar por debajo del contenido y del padding. Los valores de color pueden ser todos los que permite esta propiedad.
                .box {
                  background-color: #567895;
                }
		
		Background-image
        Permite poner una imagen de fondo a un elemento o caja (lo mas utilizado). De forma predeterminada una imagen grande no se ajusta a la caja, mientras que una imagen pequeña se repite hasta llenar la caja. Además si le aplicamos un color de fondo a la imagen, ésta va a quedar por encima del color.
				.b {
                  background-image: url(star.png);
                  background-color: blue;
                }
		
		Background-repeat
        Se usa para controlar el comportamiento repetitivo de las imágenes de fondo. Los valores son: no-repeat (evita que el fondo se repita), repeat-x (repite el fondo horizontalmente), repeat-y (repite el fondo verticalmente), repeat (repite el fondo de forma vertical y horizontal).
				.box2 {
                    background-image: url(star.png);
                    background-repeat: repeat-x;
                }

		Background-size
        Se usa para dimensionar las imágenes de fondo, usa tipo de valores de medida como longitud (px) y porcentaje (%). También tiene valores de palabra clave como: <strong>cover</strong> (el navegador agrandará la imagen para que cubra toda la caja, sin que se pierda su relación de aspecto, que se recorte la imagen). Por eso es probable que parte de la caja quede sin cubrir. También está <strong>contain</strong>: el navegador hará que la imagen cubra toda la caja a costa de cortar la imagen, perdiendo su relación de aspecto.
				.box {
                  background-image: url(balloons.jpg);
                  background-repeat: no-repeat;
                  background-size: 100px 10em;
                }

                .box {
                    background-image: url(star.png);
                    background-repeat: repeat;
                    background-size: cover;
                }        			

        Gradient: degradado
        Es un tipo de imagen que se puede usar como fondo, se establece usando background-image con el valor linear-gradient o radial-gradient.
				.a {
                  background-image: linear-gradient(105deg, rgba(0,249,255,1) 39%, rgba(51,56,57,1) 96%);
                }

	    Bordes
        Por lo general se usa la propiedad abreviada borde para poner el ancho, estilo y color en una sola linea. Pero para diseños más creativos se puede usar cada lado del borde de manera diferente.
				.box {
                  border: 1px solid black;
                }

                .box2 {
                  border-top: 1px solid black;   
                }

                box3 {
                    border-top-width: 1px;
                    border-top-style: solid;
                    border-top-color: black;  
                }		
		
        Border-radius: esquinas redondeadas
        Aplica sobre la esquina de la caja, distinto a border que solo aplica a los lados.
				.box {
                  border-radius: 10px;
                }
                
                .box2 {
                  border-top-right-radius: 1em 10%;
                }
	

	|| Writing Mode, Display, Propiedades fisicas y lógicas
		
		La propiedad writing-mode cambia la dirección en bloque y en línea (o vertical u horizontal) de los elementos.
		Mientras que display cambia el diseño/disposición de los elementos interiormente (diseño) y exteriormente (interacción).
    	El flujo físico es el que se usa para las coordenadas top, right, bottom y left en distintas propiedades como margin, padding, etc. Entonces, las coordenadas estan atadas a los lugares fisicos de las cajas de css tomo puede ser un top. 
    	El flujo lógico depende desde donde empiezan y terminan los elementos en los modos de escritura, por eso se utiliza <em>block/inline</em> con <em>start/end</em> que sirven para cualquier modo de escritura así no tendrás que ajustar nada y escribir menos código.
	 
	
	|| Propiedades y valores lógicos
	    Estas van a reemplazar a las propiedades width y height (valores horizontales) en los modos de escritura como horizontal-tb, vertical-rl y lr porque width y height no se ajustan al contenido en los modos mencionados. Y a otros valores más.

	    inline-size:
	   	Se refiere al tamaño de la dimension inline (texto/contenido dentro de la caja), va a extender o encoger las lineas de texto/contenido. Reemplaza a width.

		block-size:
	    Se refiere al tamaño de la caja, reemplaza a height. En resumen son la altura y la anchura que se usan en estos modos de escritura pero refiriéndose a las dos dimensiones.
	        .box {
              inline-size: 150px;
            }
	
		margin-block-start:
	    Margen de inicio del bloque. Reemplaza a margin,.

	    padding-inline-start:
	    Es relleno va a aplicar al inicio de la dimension en linea (al inicio de las lineas de texto). Reemplaza a padding-left.

	    border-block-end:
	    El borde se va a aplicar al final del bloque.
	    Las propiedades físicas quedan ligadas a sus direcciones físicas, mientras que las propiedades lógicas cambian con el modo de escritura.

	    block-start:
	    Reemplaza a la propiedad top.

	    inline-end:
	    Reemplaza a la propiedad right.

	    block-end:
	    Reemplaza a la propiedad bottom.

	    inline-start:
	    Reemplaza a la propiedad left. Si estamos en el modo de escritura horizontal-tb, el texto empieza por izquierda y termina por derecha, entonces, tiene sentido que esta propiedad reemplacé a left.
			
			.box {
              inline-size: 200px;
              writing-mode: horizontal-tb;
            }

            .logical {
              margin-block-start: 20px;
              padding-inline-end: 2em;
              padding-block-start: 2px;
              border-inline-end: 10px dotted rebeccapurple;
              border-block-end: 1em double orange;
            }

            .physical {
              margin-top: 20px;
              padding-right: 2em;
              padding-top: 2px;
              border-bottom: 1em double orange;
	
	
	|| Desbordamiento/overflowing
		Se aplicarán propiedades para controlar el contenido dentro de los elementos, evitando la perdida datos.

		Propiedad overflow
    	Controlamos como se comporta el desborde de contenido. 

    	Valor predeterminado:
    	<em>visible</em>.

    	Ocultar:
    	<em>hidden</em> hace que los datos se pierdan para el usuario.
    	
    	Barra de desplazamiento:
    	<em>scroll</em> agrega una barra de desplazamiento horizontal y vertical a la caja. 

		Barras de desplazamiento cuando sean necesarias:
		<em>auto>/em>

		Propiedad <em>overflow-y: 
    	<em>scroll</em> agrega una barra de desplazamiento vertical. 
		
    	Propiedad overflow-x: 
    	<em>scroll</em> agrega una barra horizontal, aunque no es recomendada para las palabras largas, 
    	es mejor investigar <em>"word-break"</em> y <em>"overflow-wrap"</em>. 

    	Dos valores en la propiedad overflow:
    	Representan a overflow-x y overflow-y.
		
			.box {
              border: 1px solid #333333;
              width: 200px;
              height: 100px;
              overflow-y: scroll;
            }

		Block Formatting contentext:
		Cuando se usa overflow, la caja se convierte en un bfc que es como otro html superpuesto; tiene reglas de comportamiento de diseño en bloque.
 

	|| Valores y unidades
		
		Numeros:
			integer: Es un numero entero como 1200 o -200
			number: Representa a un numero decimal, puede tener o no, un punto para separar la parte entera de la decimal. Ej, 0.2, 100
			percentage: Es una fracción de otro valor, ejemplo; 15%. Son relativos a otra cantidad o elemento padre.
			
		Longitudes:
			length: Contiene unidadades como 10px (pixeles) o 30em. 
			
			Absolutas: Son valores relativos a algo más, puede ser al tamaño de letra del un elemento principal o al tamaño de la ventana gráfica del navegador. Posee la ventaja de que
			los <em>elementos<em> con unidad relativa, <em>escalen</em> en relación a todo lo demas.
			
			Relativas: Siempre tienen el mismo tamaño. Pueden ser cm (centimetros), mm (milimetros), Q (Cuartos de milimetros), in (pulgadas), pc (picas), pt (puntos) y px (pixeles).
				em: Al tamaño de letra del elemento padre (a veces estos heredan tamaño del <em>elemento html (raiz)</em>) si tiene <em>font-size</em> o el tamaño de la fuente del propio elemento, en el caso de otras propiedades, como <em>width</em>.
				rem: Al tamaño de la letra del elemento raíz.
				vw: 1% del ancho de la ventana grafica del navegador.</li>
				vh: 1% del alto de la ventan grafica.

				Rem vs Em:
				rem se usa para tamaño de fuente de los elementos y em se usa para dimensionar elementos.
					html {
					  font-size: 16px;
					}

					.box {
					  font-size: 1.5rem;
					  width: 2em; 
					}

					.box2 {
			          padding: 1em;
					}

		Porcentajes:
		Se establecerá en relación con otro valor. Por ejemplo, si establecemos font-size en % a un elemento, será un % del font-size de un elemento padre. 
		Si le damos un porcentaje para width, será un porcentaje del atributo width del elemento padre.
			.wrapper {
			  width: 400px;
			  border: 5px solid rebeccapurple;
			}

			.percent {
			  width: 40%;
			}
		
		Palabras claves:
		Multiples propiedades admiten estas palabras como valores, tambien llamados identificadores, con comillas (texto de contenido) y sin comillas (palabras).
			.box {
				background-color: blue;
			}

			.box::after {
				content: "cadena de palabras para generar un texto"
			}

		Funciones:
		Hay propiedades que admiten la función calc(), el resultado será el valor aplicado.

		Imágen:
		La propiedad backgroun-image admite la función url() para pasar un archivo de imagen como valor.
		Está propiedad tambien admite las funciones linear-gradient() y radiant-gradient para crear imágenes degradadas.
			.image {
			  background-image: url(star.png);
			}

			.gradient {
			  background-image: linear-gradient(90deg, rgba(119,0,255,1) 39%, rgba(0,212,255,1) 100%);
			}
		

	|| Colores:
		El sistema de color estadar es de 24 bits, permite 16,7 millores de colres distintos a partir de una combinacion de diferentes canales de rojo, verde y azul con 256 valores diferentes por canal.

		Palabras claves:
			.box {
			  background-color: cornflowerblue;
			}
		
		Hexadecimales RGB:
		Empiezan con un hastag(#) seguido de seis cifras hexadecimales, cada cifra puede tomar 16 valores que se encuentran entre 0 y la f (que representa el 15). 
		Cada <em>par</em> de cifra representa uno de los canales (rojo, verde, azul) que nos permite especificar los 256 colores por canal.
			.box {
			  background-color: #F2F2F2;
			}

		RGB y RGBA:
		Un color RGB es una funcion, rgb (); tiene tres parametros que representa los colores rojo, verde y azul.
		Cada canal se representa por un numero decimal entre 0 y 255.
		RGBA agrega un canal alfa de color que controla la opacidad su valor se establece entre 0 y 1 (trasparente/opaco), con un punto antes del numero final.
		Este solo aplica al elemento que especificas y no a todo el contenedor.
			.box {
			  background-color: rgb(2, 121, 139);
			}

			.box2 {
			  background-color: rgba(2, 121, 139, .3);
			}
		
		HSL y HSLA:
		Es una funcion como rgb pero en lugar de los valores para rojo, verde y azul, HSL admite valores de matriz, saturacion y luminosidad.
		Matriz: Tono base del color, su valor va de 0 y 360 que representa un angulo en torno a una rueda de colores.
		Saturación: Es la intensidad del color, toma un valor entre 0 (tono gris) y 100% (max saturación).
		Luminosidad: Es la claridad o brillo del color, su valor está entre 0 (negro) y 100% (blanco).
 		Su canal alfa con la funcion HSLA que controla la opacidad del elemento.
			.box {
			  background-color: hsl(188, 97%, 28%);
			}

			.box2 {
				background-color: hsla(188, 97%, 28%, .3);
			}  
			
		Canal alfa:
		RGB y HSL tiene la capacidad de admitir el canal alfa sin especificar la función para este canal y viceversa.




 */